@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');

body{
	margin:0;
}



/*
FONTS
*/

h1{
	font-family: 'Hind';
	color:blue;
	font-weight:700;
	font-size:30px;
}

h2{
	font-family: 'Hind';
	margin:0;
}

h3{
	font-family: 'Hind';
	margin:10px;
}


/*
structure
*/

header{
	padding:10px;
	text-align: center;
	background:rgb(256,230,240);

}

nav a{
	font-family: 'Hind';
	text-decoration: none;
	font-size:20px;
	color:#fff;
	margin-left:15px;
	transition: 0.1s linear;
}

nav a:hover{
	color:rgb(250,200,200);

}

nav{
	background:rgb(30,0,180);
	padding:50px;
	text-align: center;
}

section, main, aside{
background:#fff;
}

main{
	padding:20px;
	padding-right:30px;
}

aside{
	padding:20px;
}


main p {
	font-family: 'Hind';
	font-size:17px;
}


footer{
	background:rgb(30,0,180);
	padding:30px 0 100px 0;
	width:100%;
}

footer p{
	color:#fff;
	font-family: 'Hind';
	text-align: center;

}

.news{
	background:#eee;
	width:80%;
	height:200px;
	margin-left:0px;
	padding-top:5px;
	margin-bottom: 10px;
}


/*
Grid
*/

.grid-container {
  display: grid;
grid-template-columns: auto 50% auto;
}

.grid-item{
}

/*
Slideshow
*/


.slideshow{
	background:yellowgreen;
	height: 200px;
}


#slideshow { 
    margin: auto; 
    position: relative; 
   	height:16vw;
    padding: 10px; 
    /* box-shadow: 0 0 20px rgba(0,0,0,0.4); */
}

#slideshow img{
    width: 100%; 

}

#slideshow > div { 
    position: absolute; 
    top: 0px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

#slideshow2 { 
    margin: auto; 
    position: relative; 
   	height:25vw;
    padding: 10px; 
   /* box-shadow: 0 0 20px rgba(0,0,0,0.4);  */
}

#slideshow2 img{
    width: 100%; 

}

#slideshow2 > div { 
    position: absolute; 
    top: 0px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

#main-image{
	width:50%;
	float:left;
	margin:20px;
}

/*
screen responsiveness
*/

@media (max-width: 1024px){

	section{
		display: none;
	}
.grid-container {
  display: grid;
grid-template-columns: repeat(2, 1fr);
}

}


@media (max-width: 768px){
	section, aside{
display: none;
	}
	
	.grid-container {
  display: grid;
grid-template-columns: repeat(1, 1fr);
}

}

