@import url('https://fonts.googleapis.com/css?family=Hind|Playfair+Display:400,700&display=swap');

*{
	margin:0;
}

body{
	background: #a8aad7;
}



/*
FONTS
*/

h1 a{
	color:#000;
	text-decoration: none;
}

#title{
	float:right;
	font-family: 'Playfair Display';
	font-weight:500;
	font-size:50px;
  transition: 0.4s;

}
#subtitle{
	font-family: 'Playfair Display';
	color:#2c148b;
	font-weight: 700;
	float:right;
	line-height: 1;
	font-size:23px;
	transition: 0.4s;

}

#timer {
  font-size: 26px;
  font-family: 'Hind';
  font-weight: bold;
  color:#ff60c5;
  margin:5px;
  
}

#update {
  font-family: 'Hind';
  font-size:17px;
	color:#ff60c5;
	margin:5px;
  
}

#logga {
	height:100px;
	margin-left:10px;
  transition: 0.4s;

}

h2{
	font-family: 'Playfair Display';
	font-size:40px;
	line-height: 1;
	margin-top: 10px;
	margin-bottom: 10px;
}

h3{
	font-family: 'Hind';
	margin:5px;
}

h4{
	font-family: 'Hind';
	margin:5px;
	font-size:17px;
	color:#000;


}


main p {
	font-family: 'Hind';
	font-size:17px;
}


nav a{
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	text-decoration: none;
	font-size:22px;
	color:#000;
	margin-left:20px;
	transition: 0.1s linear;
}

nav a:hover{
	color:rgba(0,0,0,0.6);

}

aside p{
	font-family: 'Hind';
	font-size:17px;
	margin-left:5px;
}

.bli-karnevalist p{
	font-family: 'Hind';
	font-size:17px;
}
/*
structure
*/


.openNav{
	background:url("bilder/arrow.png");
	background-position: right;
	background-size: 10px;
	background-repeat: no-repeat;
	padding-right:17px;

}


header{
	padding:10px;
	text-align: center;
	background:#f7d4d7;

}

.header-background{
	background:#f7d4d7;
	transition: 0.4s;
	height:70px;

}

#header-container{
	width:85%;
	padding:20px;
	margin:auto;
	transition: 0.4s;
	height:100px;

}

.brand{

}

nav{
	margin-top:5px;
}

#nav-padding{
padding:30px;	
  transition: 0.4s;

}

#sticky{
	background:#f7cacd;
	position: sticky;
	top:0px;
	z-index:1;
}


#content-paper{
	background: #fff; 
	width:85%;
	margin:auto;
	margin-top:-70px;
	padding:20px;
	transition: 0.4s;
}

/* .index-paper{
 	background: #fff url('bilder/flik.png');
	background-repeat: no-repeat;
	background-position: top right; 
	background-size: 30px;
	width:85%;
	margin:auto;
	margin-top:-70px;
	padding:20px;
	transition: 0.4s;
	border-top-right-radius: 40px;
}
*/


section, main, aside{
}

section{
	padding:20px;
	border-right: 1px solid #ddd;
}

main{
	padding:20px;
	padding-right:30px;
	margin-bottom: 30px;
}

aside{
	padding:20px;
	border-left:1px solid #ddd;

}


.bli-karnevalist{
	min-height:100vh;
	margin:auto;
	display: grid;
	grid-template-columns:25% 50% 25%;
}

.left-img{
	width:100%;
	margin-bottom: 5px;
}

.left-images{
	padding:5px;
	background:rgb(240,230,256);
}


.center{
	padding-top:30px;
	padding:20px;
	border-left:1px solid #ddd;

}


.right{
	padding-top:5px;
	font-family: 'Hind';
	font-size:17px;
	border-left:1px solid #ddd;


	padding-left:20px;
	margin-left:20px;
	padding-right:20px;
	background:rgb(240,230,256);

}


#footer {
    position: relative;
    overflow: hidden;
    text-align: left;
    height:200px;
    background:rgb(200,210,240);
    	margin-top:50px;

}

.wrap {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
    background:rgb(200,210,240);
  color: #fff;
    
  text-transform: uppercase;
}

#footer h3 a,
#footer h3 p {
    margin: 0;
  color: #fff;
    text-decoration: none;
}

.clear {
    clear: both;
}

.footer-left {
    float: left;
    width: 25%;
}

.footer-right {
    float: right;
    width: 25%;
}
    
.footer-centered {
    overflow: hidden;
}



.news{
	width:80%;
	margin-left:0px;
	padding:10px;
	margin-bottom: 10px;
	border-bottom:1px solid #ddd;
}


/*
Grid
*/

.grid-container {
	display: grid;
	grid-template-columns: 25% 50% 25%;
}

.grid-container-header {
	display: grid;
	grid-template-columns: 31% 9% 60%;
}

.grid-item{
}

/*
Slideshow
*/


.slideshow{
	background:yellowgreen;
	height: 200px;
}


#slideshow { 
	margin: auto; 
	position: relative; 
	height:16vw;
	padding: 0px; 
	/* box-shadow: 0 0 20px rgba(0,0,0,0.4); */
}

#slideshow img{
	width: 100%; 

}

#slideshow > div { 
	position: absolute; 

}

#slideshow2 { 
	margin: auto; 
	position: relative; 
	height:25vw;
	padding: 0px; 
	/* box-shadow: 0 0 20px rgba(0,0,0,0.4);  */
}

#slideshow2 img{
	width: 100%; 

}

#slideshow2 > div { 
	position: absolute; 

}


/*
Countdown
*/

.container {
	color: darkred;
}


li {
	color:#000;
	font-family: 'Playfair Display';
	height:6em;
	font-size: 1em;
	list-style-type: none;
	padding: 0em;
	text-transform: uppercase;
}

li span { 
	color: darkred;
	padding-bottom:0.3em;
	height:1em;
	display: block;
	font-size: 4rem;

}


/*
Images 
*/


#main-image{
	width:50%;
	float:left;
	margin:20px;
}

#event1{
	width:80%;
	margin:auto;
	display: block;
	margin-bottom:20px;
}



/*
Overlay menu
*/

.overlay {
	height: 0;
	width: 100%;
	position: fixed;
	z-index: 2;
	top: 120px;
	left: 0;
	overflow-x: hidden;
	opacity: 0.97;
	transition: 0.5s;
}

.overlay-content {
	position: relative;
	top: 0px;
	margin-top: 50px;

}

.overlay .grid-container{
	display: grid;
	grid-template-columns: 30% 20% 20% 30%;
}


.overlay .grid-item{
}

hr{
	height: 1px;
	opacity: 0.5;
	border: none;
	background-color: rgba(0,0,0,0.6);
	color: rgba(0,0,0,0.6);
}

.overlay-right{
	border-left: 1px solid rgba(0,0,0,0.3);	
	padding-left:30px;
	margin-left:30px;
}

.overlay a { 
	font-family: 'Hind';
	padding: 8px;
	text-decoration: none;
	font-size: 23px;
	color: rgb(0,0,200);
	display: block;
	transition: 0.3s;
}

.overlay h2{
	font-family: 'Hind';
	color:#000;
	opacity: 0.7;
	font-size:30px;
}

.overlay a:hover, .overlay a:focus {
	color:rgba(0,0,200,0.5);
}

.overlay .closebtn {
	position: absolute;
	top: -30px;
	right: 100px;
	font-size: 60px;
}


/*
interaction

*/

select{
	font-size:18px;
}

form{
	font-family: 'Hind';
	font-size:17px;

}

.text-input{
	font-family: 'Hind';
	font-size:17px;
	width:300px;
	background:rgba(256,256,0,0.1);

}

form{
	height:400px;
}

.submit{
	font-family: 'Hind';
	size:25px;
}

textarea{
	font-family: 'Hind';
	font-size:17px;
	width:300px;
	background:rgba(256,256,0,0.1);

}


/*
table
*/

td{
	padding:5px;
	min-width:150px;
	background:rgba(256,256,0,0.1);
}


/*
screen responsiveness
*/

@media (max-width: 1024px) and (min-width: 769px){

	section{
		display: none;
	}

	.left-images{
		display: none;
	}


	.grid-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.bli-karnevalist{
		grid-template-columns: repeat(1, 1fr);

	}

	header .grid-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}



	h1 a{
		font-size:30px;
	}

	.overlay {

		top: 120px;

	}

	.footer-left {
    float: left;
    width: 100%;
}

.footer-right {
    float: left;
    width: 100%;
     background: #4bbfe1;
}
    
.footer-centered {
	width: 100%;
    float: left;

}
}

@media (min-width: 570px) and (max-width: 768px) {
	
	section, aside, .left-images{
		display: none;
	}
	
	.grid-container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	
	.bli-karnevalist{
		grid-template-columns: repeat(1, 1fr);

	}


	header .grid-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	h1 a{
		font-size:25px;
	}


	.overlay a { 

		font-size: 20px;

	}

	.overlay h2{

		font-size:30px;
	}

	.overlay {
		top: 100px;

	}

	.overlay .closebtn {
		position: absolute;
		top: -30px;
		right: 40px;
	}

	iframe{
		width:320px;
	}

	.footer-left {
    float: left;
    width: 100%;
}

.footer-right {
    float: left;
    width: 100%;
     background: #4bbfe1;
}
    
.footer-centered {
	width: 100%;
    float: left;

}

}


@media (max-width: 570px) {

	aside, .left-images{
		display: none;
	}




.slideshow{
	background:yellowgreen;
	height: 500px;
}


#slideshow { 
	margin: auto; 
	position: relative; 
	height:250px;
	padding: 0px; 
	/* box-shadow: 0 0 20px rgba(0,0,0,0.4); */
}

#slideshow img{
	width: 100%; 

}

#slideshow > div { 
	position: relative; 

}

#slideshow2 { 
	margin-top: 10px; 
	position: relative; 
	height:200px;
	padding: 0px; 
	/* box-shadow: 0 0 20px rgba(0,0,0,0.4);  */
}

#slideshow2 img{
	width: 100%; 

}

#slideshow2 > div { 
	position: relative; 

}
	.grid-container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}


	
	.bli-karnevalist{
		grid-template-columns: repeat(1, 1fr);

	}

	header .grid-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	h1 a{
		font-size:25px;
	}

	nav a {
		font-size:18px;
	}

	.overlay h2{

		font-size:20px;
	}



	.overlay {
		top: 100px;

	}

	.overlay .grid-container{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.overlay-content {
		margin-left:20px;
	}

	.overlay .closebtn {
		position: absolute;
		top: -30px;
		right: 20px;
	}

	hr {
		display: none;
	}

	.overlay-right{
		border:none;
		margin-left:-20px;
	}


	iframe{
		width:320px;
	}


.footer-left {
    float: left;
    width: 100%;
}

.footer-right {
    float: left;
    width: 100%;
     background: #4bbfe1;
}
    
.footer-centered {
	width: 100%;
    float: left;

}


#logga{
height: 30px;
}
}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


}
