@import url('https://fonts.googleapis.com/css?family=Hind|Playfair+Display&display=swap');

*{
	margin:0;
}

body{
}



/*
FONTS
*/

h1 a{
	font-family: 'Playfair Display';
	color:blue;
	font-weight:700;
	font-size:40px;
	text-decoration: none;
}

#logga {
	float: left;
	height: 60px;
}

h2{
	font-family: 'Playfair Display';
	font-size:40px;
	line-height: 1;
	margin-top: 10px;
	margin-bottom: 10px;
}

h3{
	font-family: 'Hind';
	margin:5px;
}

h4{
	font-family: 'Hind';
	margin:5px;
	font-size:17px;
	color:#000;


}


main p {
	font-family: 'Hind';
	font-size:17px;
}


nav a{
	font-family: 'Hind';
	text-decoration: none;
	font-size:20px;
	color:#fff;
	margin-left:15px;
	transition: 0.1s linear;
}

nav a:hover{
	color:rgb(150,250,230);

}

aside p{
	font-family: 'Hind';
	font-size:17px;
	margin-left:5px;
}

.bli-karnevalist p{
	font-family: 'Hind';
	font-size:17px;
}
/*
structure
*/

header{
	padding:10px;
	text-align: center;
	background:rgb(250,210,230);

}



nav{
	background:rgb(30,190,120);
	padding:30px;
	text-align: center;
	position: sticky;
	top:0px;
	z-index:1;
}


section, main, aside{
	background:#fff;
}

section{
	padding:20px;
	border-right: 1px solid #ddd;
}

main{
	padding:20px;
	padding-right:30px;
}

aside{
	padding:20px;
	border-left:1px solid #ddd;

}


.bli-karnevalist{
	min-height:100vh;
	margin:auto;
	display: grid;
	grid-template-columns:25% 50% 25%;
}

.left-img{
	width:100%;
	margin-bottom: 5px;
}

.left-images{
	padding:5px;
	background:rgb(240,230,256);
}


.center{
	padding-top:30px;
	padding:20px;
	border-left:1px solid #ddd;

}


.right{
	padding-top:5px;
	font-family: 'Hind';
	font-size:17px;
	border-left:1px solid #ddd;


	padding-left:20px;
	margin-left:20px;
	padding-right:20px;
	background:rgb(240,230,256);

}


#footer {
    position: relative;
    overflow: hidden;
    text-align: left;
}

.wrap {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
    background: #4bbfe1;
  color: #fff;
    
  text-transform: uppercase;
}

#footer h3 a,
#footer h3 p {
    margin: 0;
  color: #fff;
    text-decoration: none;
     background: #4bbfe1;
}

.clear {
    clear: both;
}

.footer-left {
    float: left;
    width: 25%;
}

.footer-right {
    float: right;
    width: 25%;
     background: #4bbfe1;
}
    
.footer-centered {
    overflow: hidden;
}



.news{
	width:80%;
	margin-left:0px;
	padding:10px;
	margin-bottom: 10px;
	border-bottom:1px solid #ddd;
}


/*
Grid
*/

.grid-container {
	display: grid;
	grid-template-columns: 25% 50% 25%;
}

.grid-item{
}

/*
Slideshow
*/


.slideshow{
	background:yellowgreen;
	height: 200px;
}


#slideshow { 
	margin: auto; 
	position: relative; 
	height:16vw;
	padding: 0px; 
	/* box-shadow: 0 0 20px rgba(0,0,0,0.4); */
}

#slideshow img{
	width: 100%; 

}

#slideshow > div { 
	position: absolute; 

}

#slideshow2 { 
	margin: auto; 
	position: relative; 
	height:25vw;
	padding: 0px; 
	/* box-shadow: 0 0 20px rgba(0,0,0,0.4);  */
}

#slideshow2 img{
	width: 100%; 

}

#slideshow2 > div { 
	position: absolute; 

}


/*
Countdown
*/

.container {
	color: darkred;
}


li {
	color:#000;
	font-family: 'Playfair Display';
	height:6em;
	font-size: 1em;
	list-style-type: none;
	padding: 0em;
	text-transform: uppercase;
}

li span { 
	color: darkred;
	padding-bottom:0.3em;
	height:1em;
	display: block;
	font-size: 4rem;

}


/*
Images 
*/


#main-image{
	width:50%;
	float:left;
	margin:20px;
}

#event1{
	width:80%;
	margin:auto;
	display: block;
	margin-bottom:20px;
}



/*
Overlay menu
*/

.overlay {
	height: 0;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 92px;
	left: 0;
	background:rgb(0,180,110);
	overflow-x: hidden;
	opacity: 0.97;
	transition: 0.5s;
}

.overlay-content {
	position: relative;
	top: 70px;
	margin-top: 50px;
}

.overlay .grid-container{
	display: grid;
	grid-template-columns: 30% 20% 20% 30%;
}


.overlay .grid-item{
}

hr{
	height: 1px;
	opacity: 0.5;
	border: none;
	background-color: #fff;
	color: #fff;
}

.overlay-right{
	border-left: 1px solid rgba(256,256,256,0.5);	
	padding-left:30px;
	margin-left:30px;
}

.overlay a { 
	font-family: 'Hind';
	padding: 8px;
	text-decoration: none;
	font-size: 23px;
	color: #fff;
	display: block;
	transition: 0.3s;
}

.overlay h2{
	font-family: 'Hind';
	color:#fff;
	opacity: 0.7;
	font-size:30px;
}

.overlay a:hover, .overlay a:focus {
	color:rgb(150,250,230);
}

.overlay .closebtn {
	position: absolute;
	top: -30px;
	right: 100px;
	font-size: 60px;
}


/*
interaction

*/

select{
	font-size:18px;
}

form{
	font-family: 'Hind';
	font-size:17px;

}

.text-input{
	font-family: 'Hind';
	font-size:17px;
	width:300px;
}

form{
	height:400px;
}

.submit{
	font-family: 'Hind';
	size:25px;
}
/*
screen responsiveness
*/

@media (max-width: 1024px) and (min-width: 769px){

	section{
		display: none;
	}

	.left-images{
		display: none;
	}


	.grid-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.bli-karnevalist{
		grid-template-columns: repeat(1, 1fr);

	}

	header .grid-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}



	h1 a{
		font-size:30px;
	}

	.overlay {

		top: 120px;

	}

	.footer-left {
    float: left;
    width: 100%;
}

.footer-right {
    float: left;
    width: 100%;
     background: #4bbfe1;
}
    
.footer-centered {
	width: 100%;
    float: left;

}
}

@media (min-width: 570px) and (max-width: 768px) {
	
	section, aside, .left-images{
		display: none;
	}
	
	.grid-container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	
	.bli-karnevalist{
		grid-template-columns: repeat(1, 1fr);

	}


	header .grid-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	h1 a{
		font-size:25px;
	}


	.overlay a { 

		font-size: 20px;

	}

	.overlay h2{

		font-size:30px;
	}

	.overlay {
		top: 100px;

	}

	.overlay .closebtn {
		position: absolute;
		top: -30px;
		right: 40px;
	}

	iframe{
		width:320px;
	}

	.footer-left {
    float: left;
    width: 100%;
}

.footer-right {
    float: left;
    width: 100%;
     background: #4bbfe1;
}
    
.footer-centered {
	width: 100%;
    float: left;

}

}


@media (max-width: 570px) {

	section, aside, .left-images{
		display: none;
	}
	
	.grid-container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	
	.bli-karnevalist{
		grid-template-columns: repeat(1, 1fr);

	}

	header .grid-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	h1 a{
		font-size:25px;
	}

	nav a {
		font-size:18px;
	}

	.overlay h2{

		font-size:20px;
	}



	.overlay {
		top: 100px;

	}

	.overlay .grid-container{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.overlay-content {
		margin-left:20px;
	}

	.overlay .closebtn {
		position: absolute;
		top: -30px;
		right: 20px;
	}

	hr {
		display: none;
	}

	.overlay-right{
		border:none;
		margin-left:-20px;
	}


	iframe{
		width:320px;
	}


.footer-left {
    float: left;
    width: 100%;
}

.footer-right {
    float: left;
    width: 100%;
     background: #4bbfe1;
}
    
.footer-centered {
	width: 100%;
    float: left;

}


#logga{
height: 30px;
}
}




